.start {
	-fx-background-radius: 5em;
	-fx-background-color: #BFC4BD;
	-fx-font-weight: bold;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
}

.start:hover {
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: Green;
}

.start:pressed {
  -fx-background-color: #70E500;
}

.setting {
	-fx-background-radius: 5em;
	-fx-background-color: #BFC4BD;
	-fx-font-weight: bold;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
}

.setting:hover {
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: #DBDB00;
}

.setting:pressed {
	-fx-background-color: #888800;
}

.exit {
	-fx-background-radius: 5em;
	-fx-background-color: #BFC4BD;
	-fx-font-weight: bold;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
}

.exit:hover {
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: red;
}

.exit:pressed {
  -fx-background-color: #410202;
  
}

.menuBackGround {
	-fx-background-image: url("Database_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.CompareMenuBackGround {
	-fx-background-image: url("Compareing_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.findMenuBackGround {
	-fx-background-image: url("Find_Person_WallPaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.secondMenuBackGround {
	-fx-background-image: url("SecondMenuWallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.populateMenuBackGround {
	-fx-background-image: url("Populate_Database_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.creatingMenuBackGround {
	-fx-background-image: url("Creating_People_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}
.deletingMenuBackGround {
	-fx-background-image: url("Deleting_People_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: center center;
}

.addMenuBackGround {
	-fx-background-image: url("Add_Person_Wallpaper.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-position: bottom right ;
}

.mainMenuButton {
	-fx-background-radius: 5em;
	-fx-background-color: #BFC4BD;
	-fx-font-weight: bold;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
}



.mainMenuButton:hover {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.mainMenuButton:pressed {
  -fx-background-color: #778571;
}

